/* Google Font Link */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins" , sans-serif;
}
:root{
  --primary-color:#2f2c4f;
  --primary-color-hover:#11101D;
  --text-color:#FFF;
}
.sidebar{
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 78px;
  background: var(--primary-color);
  padding: 6px 14px;
  z-index: 99;
  transition: all 0.5s ease;
}
.sidebar.open{
  width: 250px;
}
.sidebar .logo-details{
  height: 60px;
  display: flex;
  align-items: center;
  position: relative;
}
.sidebar .logo-details .logo_name{
  color: var(--text-color);
  font-size: 20px;
  font-weight: 600;
  opacity: 0;
  transition: all 0.5s ease;
}
.sidebar.open .logo-details .logo_name{
  opacity: 1;
}
.sidebar .logo-details #btn{
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  font-size: 22px;
  transition: all 0.4s ease;
  font-size: 23px;
  text-align: center;
  cursor: pointer;
  transition: all 0.5s ease;
}
.sidebar.open .logo-details #btn{
  text-align: right;
}
.sidebar i{
  color: var(--text-color);
  height: 60px;
  min-width: 50px;
  font-size: 28px;
  text-align: center;
  line-height: 60px;
}
.sidebar .nav-list{
  margin-top: 20px;
  height: 100%;
}
.sidebar li{
  position: relative;
  margin: 8px 0;
  list-style: none;
}
.sidebar li .tooltip{
  position: absolute;
  top: -20px;
  left: calc(100% + 15px);
  z-index: 3;
  background: var(--text-color);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  padding: 6px 12px;
  border-radius: 4px;
  font-size: 15px;
  font-weight: 400;
  opacity: 0;
  white-space: nowrap;
  pointer-events: none;
  transition: 0s;
}
.sidebar li:hover .tooltip{
  opacity: 1;
  pointer-events: auto;
  transition: all 0.4s ease;
  top: 50%;
  transform: translateY(-50%);
}
.sidebar.open li .tooltip{
  display: none;
}
.sidebar input{
  font-size: 15px;
  color: var(--text-color);
  font-weight: 400;
  outline: none;
  height: 50px;
  width: 100%;
  width: 50px;
  border: none;
  border-radius: 12px;
  transition: all 0.5s ease;
  background: #1d1b31;
}
.sidebar.open input{
  padding: 0 20px 0 50px;
  width: 100%;
}
.sidebar .bx-search{
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  font-size: 22px;
  background: #1d1b31;
  color: var(--text-color);
}
.sidebar.open .bx-search:hover{
  background: #1d1b31;
  color: var(--text-color);
}
.sidebar .bx-search:hover{
  background: var(--text-color);
  color: var(--primary-color);
}
.sidebar li a{
  display: flex;
  height: 100%;
  width: 100%;
  border-radius: 12px;
  align-items: center;
  text-decoration: none;
  transition: all 0.4s ease;
  background: var(--primary-color-hover);
}
.sidebar li a:hover{
  background: var(--text-color);
}
.sidebar li a .links_name{
  color: var(--text-color);
  font-size: 15px;
  font-weight: 400;
  white-space: nowrap;
  opacity: 0;
  pointer-events: none;
  transition: 0.4s;
}
.sidebar.open li a .links_name{
  opacity: 1;
  pointer-events: auto;
}
.sidebar li a:hover .links_name,
.sidebar li a:hover i{
  transition: all 0.5s ease;
  color: var(--primary-color);
}
.sidebar li i{
  height: 50px;
  line-height: 50px;
  font-size: 18px;
  border-radius: 12px;
}
.sidebar li img{
  height: 45px;
  width: 45px;
  object-fit: cover;
  border-radius: 6px;
  margin-right: 10px;
}
.home-section{
  position: relative;
  background: #E4E9F7;
  min-height: 100vh;
  top: 0;
  left: 85px;
  width: calc(100% - 100px);
  transition: all 0.5s ease;
  z-index: 2;
}
.sidebar.open ~ .home-section{
  left: 250px;
  width: calc(100% - 250px);
}
.home-section .text{
  display: inline-block;
  color: var(--primary-color);
  font-size: 25px;
  font-weight: 500;
  margin: 18px
}
.home-section .election_type{
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  
}


a .btna {
  width: 15rem;
  margin: 0.8rem;
  color: var(--primary-color);
  text-transform: uppercase;
  text-decoration: none;
  border: 2px solid var(--primary-color-hover);
  padding: 10px 20px;
  font-size: 17px;
  cursor: pointer;
  font-weight: bold;
  background: transparent;
  position: relative;
  transition: all 1s;
  overflow: hidden;
}

a .btna:hover {
  color: var(--text-color);
}

a .btna::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 0%;
  top: 0;
  left: -40px;
  transform: skewX(45deg);
  background-color: var(--primary-color);
  z-index: -1;
  transition: all 1s;
}

a .btna:hover::before {
  width: 160%;
}

.votebtn{
  display: grid;
  justify-content: flex-end;
}

.btnv {
  position: relative;
  margin: 1.5rem;
  padding: 10px 22px;
  border-radius: 6px;
  border: none;
  color: #fff;
  cursor: pointer;
  background-color: #0077ff;
  transition: all 0.2s ease;
}

.btnv:active {
  transform: scale(0.96);
}

.btnv:before,
.btnv:after {
  position: absolute;
  content: "";
  width: 150%;
  left: 50%;
  height: 100%;
  transform: translateX(-50%);
  z-index: -1000;
  background-repeat: no-repeat;
}

.btnv:hover:before {
  top: -70%;
  background-image: radial-gradient(circle, #0077ff 20%, transparent 20%),
    radial-gradient(circle, transparent 20%, #0077ff 20%, transparent 30%),
    radial-gradient(circle, #0077ff 20%, transparent 20%),
    radial-gradient(circle, #0077ff 20%, transparent 20%),
    radial-gradient(circle, transparent 10%, #0077ff 15%, transparent 20%),
    radial-gradient(circle, #0077ff 20%, transparent 20%),
    radial-gradient(circle, #0077ff 20%, transparent 20%),
    radial-gradient(circle, #0077ff 20%, transparent 20%),
    radial-gradient(circle, #0077ff 20%, transparent 20%);
  background-size: 10% 10%, 20% 20%, 15% 15%, 20% 20%, 18% 18%, 10% 10%, 15% 15%,
    10% 10%, 18% 18%;
  background-position: 50% 120%;
  animation: greentopBubbles 0.6s ease;
}

@keyframes greentopBubbles {
  0% {
    background-position: 5% 90%, 10% 90%, 10% 90%, 15% 90%, 25% 90%, 25% 90%,
      40% 90%, 55% 90%, 70% 90%;
  }

  50% {
    background-position: 0% 80%, 0% 20%, 10% 40%, 20% 0%, 30% 30%, 22% 50%,
      50% 50%, 65% 20%, 90% 30%;
  }

  100% {
    background-position: 0% 70%, 0% 10%, 10% 30%, 20% -10%, 30% 20%, 22% 40%,
      50% 40%, 65% 10%, 90% 20%;
    background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
  }
}

.btnv:hover::after {
  bottom: -70%;
  background-image: radial-gradient(circle, #0077ff 20%, transparent 20%),
    radial-gradient(circle, #0077ff 20%, transparent 20%),
    radial-gradient(circle, transparent 10%, #0077ff 15%, transparent 20%),
    radial-gradient(circle, #0077ff 20%, transparent 20%),
    radial-gradient(circle, #0077ff 20%, transparent 20%),
    radial-gradient(circle, #0077ff 20%, transparent 20%),
    radial-gradient(circle, #0077ff 20%, transparent 20%);
  background-size: 15% 15%, 20% 20%, 18% 18%, 20% 20%, 15% 15%, 20% 20%, 18% 18%;
  background-position: 50% 0%;
  animation: greenbottomBubbles 0.6s ease;
}

@keyframes greenbottomBubbles {
  0% {
    background-position: 10% -10%, 30% 10%, 55% -10%, 70% -10%, 85% -10%,
      70% -10%, 70% 0%;
  }

  50% {
    background-position: 0% 80%, 20% 80%, 45% 60%, 60% 100%, 75% 70%, 95% 60%,
      105% 0%;
  }

  100% {
    background-position: 0% 90%, 20% 90%, 45% 70%, 60% 110%, 75% 80%, 95% 70%,
      110% 10%;
    background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
  }
}


.user_verify{
  background: #E4E9F7;
  border: none;
  padding: 10px 20px;
  display: inline-block;
  font-size: 15px;
  font-weight: 600;
  width: 120px;
  text-transform: uppercase;
  cursor: pointer;
  transform: skew(-21deg);
  border: 3px var(--primary-color-hover);
}

span {
  display: inline-block;
  transform: skew(21deg);
}

.user_verify::before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  right: 100%;
  left: 0;
  background: var(--primary-color);
  opacity: 0;
  z-index: -1;
  transition: all 0.5s;
}

.user_verify:hover {
  color: var(--text-color);
}

.user_verify:hover::before {
  left: 0;
  right: 0;
  opacity: 1;
}

.vote_now{
  border: 3px solid var(--primary-color-hover);
}


.data1 {
  position: relative;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap: 10px;
  width: 300px;
  border: var(--primary-color-hover);
  background-color: var(--text-color);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 30px 30px -30px rgba(27, 26, 26, 0.315);
}

.data1 .title {
  color: var(--primary-color);
  font-size: 30px;
  font-weight: 600;
  letter-spacing: -1px;
  line-height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.data1 input {
  outline: 0;
  border: 1px solid rgb(219, 213, 213);
  padding: 8px 14px;
  border-radius: 8px;
  width: 100%;
  height: 50px;
}
















@media (max-width: 420px) {
  .sidebar li .tooltip{
    display: none;
  }
}